/* SIDEBAR TITLE */

.sidebar-title {
    background: #34495e;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 16px 0px 12px 45px;
    text-align: left;
}

.maps-label {
    font-size: 17px;
    padding: 0px;
    color: #fff;
    text-align: left;
}

/* AVAILABLE LAYERS TITLE */

.sidebar-layerTitle {
    width: 100%;
    height: 50px;
    background: #fff;
}

.panel-heading {
    color: #000;
    text-align: left;
    padding: 10px 50px 0px 30px;
}

.panel-heading1 {
    color: #000;
    text-align: left;
    padding: 0px 50px 0px 30px;
}

/* SEARCH BOX */

.sidebar-search {
    width: 100%;
    min-height: 10px;
    font-size: 12px;
    text-align: center;
    padding: 0px 50px 10px 45px;
    margin-top: -15px;
    background: transparent;
    color: #fff;
}

.sidebar-search input {
    padding: 7px 15px 7px 15px;
    border: 1px solid #bdc3c7;
    width: 100%;
}

/* SIDEBAR BOX1 */

.sidebar-box1 {
    width: 100%;
    min-height: 200px;
    text-align: left;
    padding-bottom: 10px;
    background: #fff;
}

.sidebar-tabs {
    width: 100%;
    min-height: 200px;
    padding: 0px 0px 0px 20px;
}

.sidebar-buttons {
    background: #fff;
    border: 1px solid #bdc3c7;
    padding: 5px 12px 5px 12px;
    font-size: 13px;
    border-radius: 10%;
    margin-left: 25px !important;
}

.sidebar-space {
    margin-bottom: 5px;
    text-align: justify;
}

.sidebar-buttons:hover {
    cursor: pointer;
}

.sidebar-layers {
    width: 100%;
    min-height: 200px;
    padding: 0px 50px 0px 15px;
}

.layers1 {
    width: 100%;
    height: 200px;
    border: 1px solid #bdc3c7;

    overflow-y: scroll;
    overflow-x: hidden;
}

/* SIDEBAR BOX2 */

.sidebar-box2,
.sidebar-box3 {
    width: 100%;
    height: 150px;
    text-align: left;
    padding: 0px 50px 0px 45px;
    margin-top: -25px;
    background: #fff;
}

.layers3 {
    padding-top: 15px;
}

.layers2,
.layers3 {
    width: 100%;
    height: 150px;
    border: 1px solid #bdc3c7;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* SIDEBAR BOX3 */

.layers1::-webkit-scrollbar,
.layers2::-webkit-scrollbar,
.layers3::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.layers1::-webkit-scrollbar-thumb,
.layers2::-webkit-scrollbar-thumb,
.layers3::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #34495e;
}

#sideBar {
    margin: 0px;
    background: #fff;
    margin-left: 0px;
    /*padding: 32px 45px 0px 45px;*/
    overflow: hidden;
    width: 100%;
    min-height: 720px;
}
