.shapefile-container {
    border-bottom: 1px solid #bdc3c7;
}

.shapefile-title {
    padding: 10px 0px 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: inline-block;
}

.shapefile-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.fa {
    color: #34495e;
}

#shapefile-download {
    background: transparent;
    display: inline-block;
    padding-left: 20px;
}

#shapefile-tags {
    background: transparent;
    display: inline-block;
}

#test {
    width: 5px;
}
