.team-column {
    padding: 20px;
}
.team-icon {
    width: 180px;
    border-radius: 100%;
    display: block;
    margin: auto;
    opacity: 1;
}
.team-name {
    font-size: 14px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}

.team-role {
    color: #6f808a;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}
