#sub-projects-page-container {
    overflow: hidden;
}

#page-header {
    text-align: center;
    width: 100%;
    min-height: 100px;
    background-color: #f4f4f4;
}

#page-header h1 {
    padding-top: 40px;
    font-weight: 1000;
}

#page-header hr {
    width: 75%;
}

#description {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#description p {
    font-size: 15px;
}

.sub-project-container {
    width: 60%;
    border: 1px solid #e2e9ed;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.sub-project-img img {
    width: 150px;
    min-width: 150px;
}

.sub-project-details {
    flex-grow: 0;
    display: flex;
}

.sub-project-container h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.sub-project-container li {
    font-size: 15px;
}

@media only screen and (max-width: 870px) {
    .sub-project-container {
        width: 95%;
        border: 1px solid #e2e9ed;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .sub-project-details {
        display: block;
    }

    .sub-project-img {
        text-align: center;
    }

    .sub-project-container h1 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .sub-project-container p {
        font-size: 15px;
        text-align: left;
    }
}
