.column1 {
    min-height: 550px;
    text-align: left;
    vertical-align: middle;
    padding-top: 100px;
}

.column2 {
    height: 500px;
    background-image: url('/images/CENVI2.gif');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 65px;
}

#screen {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 120px;
}

#header-button {
    border: 0px solid transparent;
    background: #16a085;
    color: #fff;
    border-radius: 0px;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    width: 200px;
    transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
    white-space: nowrap;
    font-weight: bold;
    span {
        display: inline-block;
        transform: translateX(300px);
        font-weight: normal;
        opacity: 0;
        transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
    }
}

#header-button:hover {
    opacity: 0.8;
    border: 0px solid transparent;
    text-indent: 0;
    background: #16a085;
    color: #fff;
    width: 250px;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    span {
        transform: translateX(0);
        opacity: 1;
    }
}

#screen p {
    text-align: left;
    font-size: 20px;
}

.header-title h1 {
    font-stretch: expanded;
    color: #373737;
    line-height: 50px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: 'Bebas Neue';
}

#header-region {
    font-size: 58px;
}

#header-office {
    font-size: 70px;
    line-height: 70px;
}

.img-container {
    width: 100%;
    height: 110px;
    display: inline-block;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    opacity: 0.8;
    padding-bottom: 10px;
}

#screen img:hover {
    opacity: 1;
}

#screen #img-logo {
    margin-left: -10px;
}

@media only screen and (max-width: 870px) {
    .column1 {
        padding-top: 70px;
        text-align: center;
        min-width: 100%;
        flex: none;
    }

    .column2 {
        display: none;
    }

    #screen {
        padding-bottom: 20px;
        overflow: hidden;
    }

    #screen p {
        text-align: center;
    }

    #screen h1 {
        font-stretch: expanded;
        font-size: 52px;
        color: #373737;
        overflow: hidden;
        line-height: 50px;
    }

    h1#header-region {
        font-size: 43px;
    }
}
