$path: "../fonts/bebas";
$fontName: 'bebas';

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeue-Regular.eot');
    src: url('#{$path}/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeue-Regular.woff2') format('woff2'),
        url('#{$path}/BebasNeue-Regular.woff') format('woff'),
        url('#{$path}/BebasNeue-Regular.ttf') format('truetype'),
        url('#{$path}/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-Bold.eot');
    src: url('#{$path}/BebasNeuePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-Bold.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-Bold.woff') format('woff'),
        url('#{$path}/BebasNeuePro-Bold.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-Bold.svg#BebasNeuePro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-BookItalic.eot');
    src: url('#{$path}/BebasNeuePro-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-BookItalic.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-BookItalic.woff') format('woff'),
        url('#{$path}/BebasNeuePro-BookItalic.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-BookItalic.svg#BebasNeuePro-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-Book.eot');
    src: url('#{$path}/BebasNeuePro-Book.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-Book.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-Book.woff') format('woff'),
        url('#{$path}/BebasNeuePro-Book.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-Book.svg#BebasNeuePro-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-Regular.eot');
    src: url('#{$path}/BebasNeuePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-Regular.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-Regular.woff') format('woff'),
        url('#{$path}/BebasNeuePro-Regular.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-Regular.svg#BebasNeuePro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-BoldItalic.eot');
    src: url('#{$path}/BebasNeuePro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-BoldItalic.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-BoldItalic.woff') format('woff'),
        url('#{$path}/BebasNeuePro-BoldItalic.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-BoldItalic.svg#BebasNeuePro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-ThinItalic.eot');
    src: url('#{$path}/BebasNeuePro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-ThinItalic.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-ThinItalic.woff') format('woff'),
        url('#{$path}/BebasNeuePro-ThinItalic.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-ThinItalic.svg#BebasNeuePro-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-Light.eot');
    src: url('#{$path}/BebasNeuePro-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-Light.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-Light.woff') format('woff'),
        url('#{$path}/BebasNeuePro-Light.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-Light.svg#BebasNeuePro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-Thin.eot');
    src: url('#{$path}/BebasNeuePro-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-Thin.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-Thin.woff') format('woff'),
        url('#{$path}/BebasNeuePro-Thin.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-Thin.svg#BebasNeuePro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-LightItalic.eot');
    src: url('#{$path}/BebasNeuePro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-LightItalic.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-LightItalic.woff') format('woff'),
        url('#{$path}/BebasNeuePro-LightItalic.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-LightItalic.svg#BebasNeuePro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: $fontName;
    src: url('#{$path}/BebasNeuePro-Italic.eot');
    src: url('#{$path}/BebasNeuePro-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/BebasNeuePro-Italic.woff2') format('woff2'),
        url('#{$path}/BebasNeuePro-Italic.woff') format('woff'),
        url('#{$path}/BebasNeuePro-Italic.ttf') format('truetype'),
        url('#{$path}/BebasNeuePro-Italic.svg#BebasNeuePro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}




