.blog-container {
    overflow: hidden;
    width: 70%;
    border: 1px solid #e2e9ed;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.blog-details {
    overflow: hidden;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.blog-titles {
    width: 70%;
}

.blog-title {
    font-weight: bold;
}

#page-header h3.blog-title {
    padding: 0px;
}

a.blog-container {
    color: black;
}

a:hover {
    text-decoration: none;
}

.blog-cover_photo {
    width: 100%;
    text-align: center;
}

.blog-cover_photo img {
    object-fit: cover;
    max-width: 100%;
}

.blog-container img {
    max-width: 100%;
}

.blog-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.blog-author-date {
    display: flex;
}

.blog-author {
    padding-right: 20px;
}

@media only screen and (max-width: 870px) {
    .blog-container {
        width: 95%;
        border: 1px solid #e2e9ed;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .blog-details {
        width: 95%;
    }
    .blog-titles {
        width: 100%;
    }
}
