@import 'sass/utils/_index.scss';
$rootClass: '.cenvi .page-home';

#{$rootClass} .section-about {

	.row {
		align-items: stretch;
	}

	.col {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		padding: 2rem;

		// .col_header
		&_header {
			font-family: $font-family;
			font-weight: 600;
			color: $text-color;
			text-align: center;
		}

		// .col_desc
		&_desc {
			color: $text-color;
			font-weight: normal;
			text-align: center;
		}
	}
}