@import 'sass/utils/_index.scss';
$rootClass: '.cenvi .page-home';

#{$rootClass} .section-hero {
	padding: 2rem 0;
	background-color: #fff;
	height: auto;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;


	// .section-hero_hero
	&_region {
		font-size: 1.25rem;
		letter-spacing: .5em;
		text-transform: uppercase;
		margin-bottom: 1rem;
		color: $secondary-color;
		font-weight: bold;

		display: flex;
		align-items: center;
		justify-content: flex-start;

	}
	// .section-hero_office
	&_office {
		position: relative;
		font-size: 5rem;
		font-weight: 600;
		margin-bottom: 0;
		line-height: 1;
		color: $text-header-color;

		.text {
			position: relative;
			z-index: 5;
		}
	}

	// .section-hero_desc
	&_desc {
		max-width: 500px;
		font-weight: normal;
		padding-top: 1em;
		line-height: 1.5;
		font-size: 1.5rem;
		margin-bottom: 2rem;
		color: $text-color;
	}

	// .section-hero_content
	&_content {
		position: relative;
		z-index: 10;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}

	// .section-hero_logos
	&_logos {
		width: 100%;
		.logo {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;

			// .logo_item
			&_item {
				width: 100%;
				max-width: 5rem;
				opacity: .35;
				filter: grayscale(100%);
				margin-bottom: 1rem;
				transition: 
					opacity 300ms ease-out ,
					filter 300ms ease-out ;

				img {
					width: 100%;
					height: auto;
				}

				&:not(:last-child) {
					margin-right: 1rem;
				}

				&:hover {
					opacity: 1;
					filter: grayscale(0);
				}
			}
		}
	}

	// .section-hero_bttn
	&_bttn {
		font-size: 1.25rem;
	}

	// .section-hero_graphic
	&_graphic {
		pointer-events: none;
		position: absolute;
		z-index: 1;
		top: -5rem;
		right: 10vw;
		width: 50vw;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 100%;
			object-fit: contain;
			object-position: 50% 50%;
		}
	}
}