.dbContainer {
	width: 100%;
	min-height: 100vh;
	padding: 1rem;
	background-color: $dbcontainer-bg;
}

.dbContainer > .md-paper {
	width: 100%;
	margin-bottom: 1rem;

	&:not(:first-child) {
		margin-top: 1rem;
	}
}






