.leaflet-container {
    height: 800px;
    width: 100%;
    z-index: 1;
}

img.leaflet-tile {
    box-sizing: content-box;
}

#sideBarMapsCol {
    padding: 0px;
}

#map-container {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    overflow: hidden;
}

#mapsMainDiv {
    width: 100%;
    overflow-x: hidden;
}
