.albums-title {
    font-weight: bold;
}

.albums-container {
    overflow: hidden;
    width: 70%;
    border: 1px solid #e2e9ed;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

a.albums-container {
    color: black;
}

a:hover {
    text-decoration: none;
}

.albums-cover_photo {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
}

.albums-cover_photo img {
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    max-height: 196.88px;
}

.albums-details {
    flex-grow: 0;
}

.albums-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.albums-scroll-message {
    text-align: center;
}

@media only screen and (max-width: 870px) {
    .albums-container {
        width: 95%;
        border: 1px solid #e2e9ed;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .albums-cover_photo {
        width: 100%;
        max-width: 100%;
        min-width: 0px;
    }

    .albums-cover_photo img {
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        max-height: 196.88px;
    }

    .albums-title {
        padding-top: 10px;
    }
}
