.section {
	padding: 4rem 0;
	// .section_headerRow
	&_headerRow {
		margin-bottom: 2rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}

	// .section_header
	&_header {
		font-size: 3.5rem;
		font-weight: bold;
		color: $text-color;
	}

	// .section_headerLabel
	&_headerLabel {
		text-transform: uppercase;
		font-weight: bold;
		color: $primary-color;
		letter-spacing: .25em;
	}
}