@import 'sass/utils/_index.scss';
$rootClass: '.cenvi .page-home';

#{$rootClass} .section-partners {
	padding: 4rem 0;

	.row {
		align-items: stretch;
	}

	.row-header {
		.col_header {
			font-weight: 600;
			color: $primary-color;
			text-align: center;
			margin-bottom: 0;
		}

		.col_desc {
			color: $text-color;
			text-align: center;
		}
	}

	.col {
		display: flex;
		align-items: center;
		justify-content: center;

		// .col-logos
		&-logos .logo {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;

			// .logo_item
			&_item {
				width: 100%;
				max-width: 8rem;
				margin: 0 2rem;
				opacity: .5;
				filter: grayscale(100%);
				transition: 
					opacity 300ms ease-out ,
					filter 300ms ease-out ;

				img {
					width: 100%;
					height: auto;
				}

				&:hover {
					opacity: 1;
					filter: grayscale(0);
				}
			}
		}
	}
}